.homepage-contribute-band {
  background-color: $white;
}

.contribute-content {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  flex-direction: row;

  @media screen and (max-width: 768px) {
  flex-direction: column;
  }
}

.contribute-box-left {
  padding-right: 3rem;

  h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  ul {
    font-size: 0.9rem;
    list-style-type: circle;
    margin: 0%;
  }
  p {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.contribute-box-right {

  img {
    height: 172px;
    width: auto;

      @media screen and (max-width: 768px) {
      padding-top: 1rem;
    }
  }
}
